<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Edit Profile</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet">
<style>
body{
    background:#f1f5f9;
}
.card{
    max-width:700px;
    margin:40px auto;
    padding:30px;
    border-radius:20px;
}
</style>
</head>
<body>
<div class="card shadow">
<h2 class="text-center mb-4">
Edit Profile
</h2>
<form action="/updateProfile"
      method="post">
<input type="hidden"
       name="id"
       th:value="${user.id}">
<input type="hidden"
       name="role"
       th:value="${user.role}">
<div class="mb-3">
<label>Name</label>
<input type="text"
       name="name"
       th:value="${user.name}"
       class="form-control">
</div>
<div class="mb-3">
<label>Email</label>
<input type="email"
       name="email"
       th:value="${user.email}"
       class="form-control">
</div>
<div class="mb-3">
<label>Phone</label>
<input type="text"
       name="phone"
       th:value="${user.phone}"
       class="form-control">
</div>
<div class="mb-3">
<label>Skills</label>
<input type="text"
       name="skills"
       th:value="${user.skills}"
       class="form-control">
</div>
<div class="mb-3">
<label>Qualification</label>
<input type="text"
       name="qualification"
       th:value="${user.qualification}"
       class="form-control">
</div>
<div class="mb-3">
<label>Experience</label>
<input type="text"
       name="experience"
       th:value="${user.experience}"
       class="form-control">
</div>
<div class="mb-3">
<label>Address</label>
<textarea name="address"
          class="form-control"
          th:text="${user.address}">
</textarea>
</div>
<button class="btn btn-success">
Update Profile
</button>
<a href="/profile"
   class="btn btn-secondary">
Back
</a>
</form>
</div>
</body>
</html>
